body { 
    text-align: left;
    max-width: 1280px;
    min-width: 800px;
    font-family:verdana, arial,sans-serif;
    font-size:0.9em;
    background-color:#f6f7f8;
   
}

h1 {
    font-size:2em;
    font-style:italic;
}

h2 {
    font-size:1.5em;
    font-style:bold;
}

h3 {
    font-size:1.4em;
    font-style:bold;
    text-decoration:underline;
}
h4 {
    font-size:1.1em;
    font-style:bold;
    font-style:italic;
}


p {
    padding-left:1em;

}

a{
    text-decoration:none;
    color:#4988b5;
}
a:hover{
    text-decoration:none;
    color:#ffffff;
    background-color:#e2ecf3;
}

#part{
    padding:0.2em;
    padding-left: 1em;
    border: 1px solid  #4988b5;
    background-color:#ffffff;
    margin: 5px;
}